{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}


<center> 
<div class="example-wrapper">
    <h1>{{ joueur.getBornAt| date('d/m/Y')}}</h1><br>
    <h1>{{ joueur.getNom}}</h1><br>
    <h1>{{joueur.getEmail}}</h1><br>
    <h1>{{ joueur.getScore}}</h1><br>
    

</div>
</center>

{% endblock %}